
<div class="appSubmitDiv">
  <h2>Submit Crosswalk Application</h2>
  Fill in at least the required fields below to submit your application to be displayed on the <a href="/documentation/community/apps.php">Application Page</a>. Thank you for taking advantage of the Crosswalk Project!

  <form class="appSubmitForm" action="app-submit.php" method="post"
        enctype="multipart/form-data">

    <!-- preview item -->
    <div class='appDisplayPvw'>
      <div class='appCube' id='pvwCube'>
        <div class='appLabel' id='pvwLabel'>Application Name</div>
        <img class='appImg' id='pvwImg' 
             src='/assets/apps/missing-image.jpg' 
             title="On click URL: <Google Play URL>"/>
        <div class='appDetailLabel'>
          <div class='appAuthor' id='pvwAuthor' 
               title="On click URL: <Author URL>">Author</div>
          <div id='pvwPublishDate'>Published: &lt;TBD&gt;</div>
          <div id='pvwDownloads'>Downloads: &lt;TBD&gt;</div>
        </div>
      </div>
      <div class='appPreviewLabel'>Display Preview</div>
    </div>

    <fieldset class="appSubmitMain">
      <legend>App Details</legend>
      <p class="ignoreMe">
        <label>Title*: </label>
        <input name="title" type="text" maxlength="50" 
               oninput="onAppTitleChange(this.value)" />
      </p>
      <p style="padding-top:0px">
        <label>Google Play URL: </label>
        <input name="googleUrl" class="url" type="url" autofocus placeholder="http://" 
               oninput="onGooglePlayUrlChange(this.value)"/>
      </p>
      <p>
        <label>App name*: </label>
        <input name="name" id="n" type="text" maxlength="50" 
               oninput="onAppNameChange(this.value)" required />
      </p>
      <p>
        <label>Image*: </label>
        <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
	<input name="imageFile" type="file" accept="image/x-png, image/gif, image/jpeg" 
               onchange="onImgSelect(this)" required />
      </p>
      <p>
        <label>Author / Company*: </label>
        <input name="author" type="text" maxlength="30" 
               oninput="onAuthorChange(this.value)" required/>
      </p>
      <p>
        <label >Author / Company URL: </label>
        <input name="authorUrl" type="url" placeholder="http://" pattern="https?://.+" 
               oninput="onAuthorUrlChange(this.value)"/>
      </p>
      <p>
	<label>Email*: </label>
	<input name="email" type="email" name="email" placeholder="Enter a valid email address" required />
      </p>
      <p>
        <label>Publish date: </label>
	<input name="publishDate" type="date" id="datepicker" maxlength="10" 
               onchange="onPublishDateChange(this.value)"/>
      </p>
      <p>
        <label>Number of downloads: </label>
	<input name="downloads" class="downloads" type="text" maxlength="12" 
               oninput="onDownloadsChange(this.value)" pattern="^(\d+|\d{1,3}(,\d{3})*)(\.\d+)?$"/>
      <p>
        <label>App price ($): </label>
        <input name="price" type="text" maxlength="6" 
               oninput="onPriceChange(this.value)" pattern="\d+(\.\d{2}){0,1}" />
      </p>
      <p>
        <label>Size: </label>
	<input name="size" class="size" type="text" pattern="\d+" maxlength="5" value="0" />
        <label class="left">MB</label>
      </p>
      <p>
	<label>Architectures supported: </label>
	<input name="archArm" type="checkbox" value="1" /><label class="arch" />ARM</label>
	<input name="archx86" type="checkbox" value="1"/><label class="arch" />x86</label>
 	<input name="archx86_64" type="checkbox" value="1"/><label class="arch" />x86_64</label>
      </p>
      <p>
   	<label>Intel XDK: </label>
        <input name="xdk" type="checkbox" value="1"/><label class="left">Built with the Intel XDK</label>
      </p>
      <p>
	<label>Category: </label>
        <select name="category">
	  <option></option>
          <option value="Arcade Action">Arcade Action</option>
	  <option value="Books Reference">Books Reference</option>
	  <option value="Brain Puzzle">Brain Puzzle</option>
	  <option value="Business">Business</option>
	  <option value="Cards/Casino">Cards/Casino</option>
	  <option value="Casual">Casual</option>
	  <option value="Communication">Communication</option>
	  <option value="Education">Education</option>
	  <option value="Entertainment">Entertainment</option>
	  <option value="Finance">Finance</option>
	  <option value="Health Fitness">Health Fitness</option>
	  <option value="Libraries Demo">Libraries Demo</option>
	  <option value="Lifestyle">Lifestyle</option>
	  <option value="Media Video">Media Video</option>
	  <option value="Medical">Medical</option>
	  <option value="Music Audio">Music Audio</option>
	  <option value="News Magazines">News Magazines</option>
	  <option value="Personalization">Personalization</option>
	  <option value="Photography">Photography</option>
	  <option value="Productivity">Productivity</option>
	  <option value="Racing">Racing</option>
	  <option value="Social">Social</option>
	  <option value="Shopping">Shopping</option>
	  <option value="Sports">Sports</option>
	  <option value="Tools">Tools</option>
	  <option value="Transportation">Transportation</option>
	  <option value="Travel Local">Travel Local</option>
	  <option value="Weather">Weather</option>
        </select>
      </p>
      <p>
        <label>Version: </label>
        <input name="version" type="text"/>
      </p>
      <p>
        <label>Notes: </label>
        <textarea name="notes" placeholder="Optional information for submission"></textarea>
      </p>
      <p>
        <label class="rqdLabel">* required fields</label>
      </p>
    </fieldset>

    <fieldset class="appSubmitAgreement">
      <legend>Agreement</legend>
      <p class="appAccept">
        <input type="checkbox" required value=""/>
        <label>*  I accept the <a href="#">Terms and Conditions</a>.</label>
	<button class="appSubmitBtn" type="submit">Submit App &raquo;</button>
      </p>
    </fieldset>
  </form> <!-- appSubmitForm -->
</div> <!-- appSubmitDiv -->

<div class="appResultDiv">      
  <h2>Crosswalk Application Submitted</h2>
  <div class="appSubmitResultDiv">
    <div class="appSubmitResult"></div>
  </div>
</div> <!-- appResultDiv -->

<script src="/js/applist.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
