

  <h2>Crosswalk Project-Empowered Apps</h2>
  <div class="introBlock">This page showcases applications that have been built using the Crosswalk Project.  All applications listed have been published in an application store.</div>

<div class="mainBlock2">
  <div class="iconGrid" id="iconGrid" >

    <div class='cube' id='cube0'>
      <div class='appLabel'>Tiny Flashlight LED</div>
      <br>
      <a href='https://play.google.com/store/apps/details?id=com.devuni.flashlight&hl=en'>
	<img class='appImg' id='appImg0'src='/assets/apps/tiny-flashlight-led84.jpg'/> <br>
      </a>
      <div class='appDetailLabel'>
	<a href='https://www.intel.com'>Nikolay Ananiev<br>
	</a>Published: Jan 2015<br>Downloads: 50M+<br>
      </div>
    </div>

    <div class='cube' id='cube1'>
      <div class='appLabel'>Pinterest</div>
      <br>
      <a href='https://play.google.com/store/apps/details?id=com.pinterest&hl=en'>
	<img class='appImg' id='appImg1'src='/assets/apps/pinterest84.jpg'/> <br>
      </a>
      <div class='appDetailLabel'>
	<a href='http://www.pinterest.com'>Pinterest Inc.<br>
	</a>Published: Feb 2013<br>Downloads: 50,000<br>
      </div>
    </div>

    <div class='cube' id='cube2'>
      <div class='appLabel'>Amazon Mobile</div>
      <br>
      <a href='https://play.google.com/store/apps/details?id=com.amazon.mShop.android.shopping&hl=en'>
	<img class='appImg' id='appImg2'src='/assets/apps/amazon-mobile84.jpg'/> <br>
      </a>
      <div class='appDetailLabel'>
	<a href='http://www.amazon.com'>Amazon Inc.<br>
	</a>Published: Mar 2011<br>Downloads: 100M+<br>
      </div>
    </div>

  </div>
  <br clear="all" />
</div>


<?php

$con = mysqli_connect('localhost', 'xwalkweb', 'webapps');
if (mysqli_connect_errno()) {
    die("Connection failed: " . mysqli_connect_error());
}
echo "Connect great boys" . "<br>";

if (!mysqli_select_db($con, "xwalk")) {
    die("Failed to select db: " . $con->select_error);
}

$result = mysqli_query($con, "SELECT * FROM `xwalk_apps`");

if (mysqli_num_rows($result) == 0) {
    //exit quietly
    echo "No rows found in table!.". "<br>";
    exit;
}
while( $row = mysqli_fetch_array($result) ) {
    $appid = $row['appid'];
    $name = $row['name'];
    $publish_date = $row['publish_date'];

    echo "Found!  ID: " . $appid . ", name: " . $name . 
         ", Publish Date: " . $publish_date . "<br>";
}

/*********************/

/*
+----------------+---------------+------+-----+---------+-------+
| Field          | Type          | Null | Key | Default | Extra |
+----------------+---------------+------+-----+---------+-------+
| appid          | char(10)      | NO   | PRI | NULL    |       |
| name           | varchar(255)  | NO   |     | NULL    |       |
| author         | varchar(100)  | NO   |     | NULL    |       |
| publish_date   | date          | YES  |     | NULL    |       |
| num_downloads  | int(11)       | YES  |     | NULL    |       |
| image          | varchar(255)  | YES  |     | NULL    |       |
| price          | decimal(6,2)  | YES  |     | NULL    |       |
| size           | int(11)       | YES  |     | NULL    |       |
| architecture   | bit(6)        | YES  |     | NULL    |       |
| xdk            | bit(1)        | YES  |     | NULL    |       |
| category       | varchar(100)  | YES  |     | NULL    |       |
| version        | varchar(100)  | YES  |     | NULL    |       |
| description    | varchar(500)  | YES  |     | NULL    |       |
| author_url     | varchar(2000) | YES  |     | NULL    |       |
| goole_play_url | varchar(2000) | YES  |     | NULL    |       |
+----------------+---------------+------+-----+---------+-------+
*/

?>

 <a href="/documentation/community/app-submit.html">App Submission Page</a>
