<h2>Crosswalk Project-Empowered Apps</h2>
<p>This page showcases applications that have been built using the Crosswalk Project.  All applications listed have been published in an application store.</p>

<p><a href="/documentation/community/app-submit.html">App Submission Page</a></p>

<div class="appListMain">
  <div class="appListGrid" id="appListGrid" >
    Error: Loading applications failed.
  </div>
</div>

<br clear="all" />

<script src="/js/apps.js"></scrip>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<?php
// Query for apps from MySql DB, loaded into JSON Javascript format

ini_set('display_errors', 'On');
error_reporting(E_ALL);

$retVal = "";
$dbRows = array();

function getAppsFromDb () {
    global $retVal;
    global $dbRows;

    $retVal = "";
    try {
        $mysqli  = new mysqli('localhost', 'xwalkweb', 'webapps', 'xwalk');
        if ($mysqli->connect_errno) {
            throw new RuntimeException("Unable to connect to database. " . $mysqli->connect_error);
        }

        if (!($stmt = $mysqli->prepare ("SELECT storeUrl, name, image, author, authorUrl, email, publishDate, downloads, price, size, architecture, xdk, category, version, notes, status FROM xwalk_apps"))) {
            throw new RuntimeException("Unable to prepare database SELECT statement." . $mysqli->error);
        }
        if (!$stmt->execute()) {
            throw new RuntimeException("Unable to execute database insert statement." . $stmt->error);
        }
        // 15 values
        if (!($stmt->bind_result($storeUrl, $name, $image, $author, $authorUrl, $email, 
                                 $publishDate, $downloads, $price, $size, $architecture, 
                                 $xdk, $category, $version, $notes, $status))) {
            throw new RuntimeException("Unable to bind results from databaes SELECT statement" . $stmt->error);
        }

        // fetch values
        while ($stmt->fetch()) {
            $dbRows[] = ["storeUrl" =>  $storeUrl, 
                         "name" =>      $name,
                         "image" =>     $image,
                         "author" =>    $author, 
                         "authorUrl" => $authorUrl, 
                         "email" =>     $email, 
                         "publishDate" => $publishDate, 
                         "downloads" => $downloads, 
                         "price" =>     $price, 
                         "size" =>      $size, 
                         "architecture" => $architecture, 
                         "xdk" =>       $xdk, 
                         "category" =>  $category, 
                         "version" =>   $version, 
                         "notes" =>     $notes, 
                         "status" =>    $status];
        }
        $stmt->close();
    } catch (RuntimeException $e) {
        $mysqli->close();
        $retVal = $e->getMessage();
        return false;
    }
    $mysqli->close();
    return true;
}

// Create <script> section with dbRows data
$content = "<script>\n";

//get apps from DB, convert into Javascript-usable (JSON) format, generate App List
if (getAppsFromDb ()) {
    $content .= "$('#appListGrid').html ( displayApps(" . json_encode($dbRows) . ", null));\n";
} else {
    $content .= "$('#appListGrid').html ('No application information is available. ' + $retVal);\n";
} 

$content .= "</script>\n";

echo $content;

/*
+--------------+---------------+------+-----+---------+----------------+
| Field        | Type          | Null | Key | Default | Extra          |
+--------------+---------------+------+-----+---------+----------------+
| appid        | int(11)       | NO   | PRI | NULL    | auto_increment |
| status       | varchar(20)   | NO   |     | NULL    |                |
| storeUrl     | varchar(2000) | YES  |     | NULL    |                |
| name         | varchar(255)  | NO   |     | NULL    |                |
| image        | varchar(255)  | NO   |     | NULL    |                |
| author       | varchar(100)  | NO   |     | NULL    |                |
| authorUrl    | varchar(2000) | YES  |     | NULL    |                |
| email        | varchar(100)  | NO   |     | NULL    |                |
| publishDate  | date          | YES  |     | NULL    |                |
| downloads    | int(11)       | YES  |     | NULL    |                |
| price        | decimal(6,2)  | YES  |     | NULL    |                |
| size         | int(11)       | YES  |     | NULL    |                |
| architecture | varchar(100)  | YES  |     | NULL    |                |
| xdk          | bit(1)        | YES  |     | NULL    |                |
| category     | varchar(100)  | YES  |     | NULL    |                |
| version      | varchar(100)  | YES  |     | NULL    |                |
| notes        | varchar(500)  | YES  |     | NULL    |                |
+--------------+---------------+------+-----+---------+----------------+
*/

?>
